@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: #318aa8;
}
.mainsection {
  background: #c8dce3;
  width: 100%;

  position: fixed;
  border-radius: 13px;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 50px 20px;
  justify-content: space-around;
  align-items: center;
}


ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  color: white;
}

button {
  padding: 10px 10px;
  border: none;
  background: #3f97b5;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.dropdown-container{
  display: none;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  padding: 90px 0;
  position: absolute;
  left: 0;
  top: 120px;
  display: flex;
  width: 100%;
  background: white;
}
.dropdown-container_for_contact{
  
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  padding: 50px 0;
  position: absolute;
  left: 0;
  top: 120px;
  display: flex;
  width: 100%;
  background: white;
}


.dropdown-wrapper_contact{
  margin: auto;
  padding: 55px;
  display: flex;
flex-direction: row;
 
}

.dropdown-wrapper{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.card-1{
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
.card-1 img {
  width: 240px;
  height: 205px;
  object-fit: contain;
}
.content-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-box h1{
  font-size: 2rem;
  font-weight: 400;
}
.content-box p{
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.415);
}
.content-box a{
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  color: #3f97b5  ;
}
.vertical {
  border-left: 1px solid rgba(0, 0, 0, 0.152);
  height: 300px;
 
}




/* css for drop down hover effect */

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  
}

/* csss for contact areasa */

.conatactList_wraaper {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cotnct_infoBox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.conatct_input_aresa{
  display: flex;
flex-direction: column;
gap: 10px;
}
.conatct_input_aresa input{
  border: none  ;
  padding: 10px 20px;
  background: rgba(128, 128, 128, 0.071);
  font-size: 0.8rem;
}



.contactList_contanact {
  /* color: yellow; */
  display: flex;
  flex-direction: column;
  background: #3f97b5;
}
.joinUs_community{
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 30px;
}
.joinUs_community h1{
 color: white;
}
.joinUs_community p{
 color: rgba(0, 0, 0, 0.519);
}

@keyframes slide{
  from{
    transform: translateX(0)
  }
  to{
    transform: translateX(-100%);
  }
}


.logos{
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}
.logos-slide{
  display: inline-block;

  animation: 30s slide infinite linear;
}
.logos-slide img{
 margin:  0 20px;
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}

/* main section cssss */

.mian_seciton{
  display: flex;
  flex-direction: column;

  gap: 30px;
}
.upper_wrapper_sec{
  display: flex;
  padding: 160px 0;
}

.main_wrappaer{
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper_one{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.wrapper_one h1{
  
    text-align: center;
    font-family: Inter;   
    color: #3F97B5;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: -1.2px;

}
.wrapper_one svg{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;  

}
.wrapper_one p{
  
  color:  #475467;
text-align: center;

/* Text md/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */

}

.wrapper_img{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.main_wrappaer button{
  border-radius: 8px;
  padding: 10px 18px;
}

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #318aa8;
  /* border: 1px solid #999; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 6px;
  /* -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); */
  background-clip: padding-box;
  /* outline: 0; */
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;



}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  /* right: 888px; */
  top: 32px;
  cursor: pointer;
  z-index: 99;
  left: 47px;
  font-size: 30px;
  color: black;
}
.step-wraaper{
  display: flex;
  overflow-x: hidden;
}

.step{
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* position: relative; */

}

.formclass{
 background-color: white;
  border-radius: 7px;
}


.custom-model-inner{
  width: 90%;
}
.checkbox_titles{
  gap: 20px;
    flex-direction: column;
    display: flex;
    padding: 77px;
    align-items: center;
}
.checkbox_titles h1{
  color: var(--Barefoot-Spas, #3F97B5);
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 126.667% */
  text-transform: capitalize;
}


.checkbox_ares{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
}
.checkbox_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  border: 1px solid lightblue;
}

.cehck_box_section_1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cehck_box_section_1 input {
  /* font-size: 33px; */
  position: relative;
  width: 40px;
  height: 16px;
  bottom: 23px;
}
.container_1_checkbox_button{
  padding: 40px;
  gap: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.checkbox_seciton_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 54px;
}
@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}





















/* media query for fully responsive ness */

@media only screen and (max-width: 1251px) {

  .card-1 img {
    width: 207px;
    height: 171px;
    object-fit: contain;
}
.dropdown-wrapper {

  gap: 35px;
}
.content-box h1 {
  font-size: 1.6rem;
  font-weight: 400;
}
.content-box p {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.415);
}




}